* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

article {
    max-width: 700px;
    margin: 40px auto;
    background-color: azure;
    border-radius: 10px;
    border: 1px solid rgb(200, 200, 200);
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #2d9ac5;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: rgb(0, 89, 255);
}

article h2 {
    font-size: 28px;
    color: rgb(0, 120, 180);
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    margin-bottom: 10px;
}