html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  width: 75%;
}

BarraLateral {
  width: 20%;
}

#pag {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#navegacao {
  display: flex;
  align-self: center;
}

#navegacao ul{
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-around;
}