footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div img {
    width: 20rem;
    height: 5em;
}

@media(width >= 1280px) {
    footer div {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    footer > p {
        color: rgb(99, 99, 99);
        font-size: 12px;
    }
}